/* its the First Table */

.table1{
    text-align: center;
    border: 2px solid rgb(154, 108, 108);
    border-collapse:collapse;
    border-style:dotted;
}
.sub1{
    background-color:aquamarine;
}
.mark1{
    background-color:beige;
}

    
.name{
    background-color:rgb(159, 231, 241);
}
.sub1{
    color: red;
}
/* .dtable{
    display: none;
} */


/* second table */
.thead2{
    text-align: center;
    border: 2px solid black;
}
.name2{
    background-color:rgb(159, 231, 241);
    border: 2px solid rgb(154, 108, 108);
    border-radius: 15px;
    text-align: center;
}
.sub2{
    background-color:aquamarine ;
    color: red;
}

.mark2{
    background-color:beige;
}

#hideTableBtn{
    margin: 0 65px;
}

.tablebtn{
    margin: 5px;
}